@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  background-color: #04011f;
  color: #fff;
  font-family: "Inter";
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.what-we-do {
  padding-top: clamp(30px, 8.4375vw, 167px);
  padding-bottom: clamp(30px, 8.4375vw, 167px);
}
@media (min-width: 1460.98px) {
  .what-we-do::after {
    content: "";
    position: absolute;
    top: 26.0936%;
    left: 0;
    background: url(../img/decor.svg) 0 0 no-repeat;
    width: 345px;
    height: 314px;
  }
}
.what-we-do__container {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px;
}
.what-we-do__header {
  max-width: 615px;
}
.what-we-do__header:not(:last-child) {
  margin-bottom: clamp(30px, 7.4261vw, 88px);
}
.what-we-do__label {
  color: #fac70f;
  font-size: clamp(18px, 2.3628vw, 28px);
  line-height: 1.21; /* 34/28 */
  text-transform: uppercase;
}
.what-we-do__label:not(:last-child) {
  margin-bottom: 13px;
}
.what-we-do__title {
  font-family: "DM Serif Text";
  font-size: clamp(30px, 5.4008vw, 64px);
  line-height: 1.46;
}
.body-what-we-do {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(30px, 5.0632vw, 60px);
}
@media (max-width: 768.98px) {
  .body-what-we-do {
    grid-template-columns: repeat(2, 1fr);
  }
  .body-what-we-do .body-what-we-do__item:nth-child(2) {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .body-what-we-do .body-what-we-do__item:nth-child(3) {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media (max-width: 487.98px) {
  .body-what-we-do {
    grid-template-columns: auto;
  }
}
.body-what-we-do__item:nth-child(2) {
  -webkit-transform: translate(0, -40px);
      -ms-transform: translate(0, -40px);
          transform: translate(0, -40px);
}
.body-what-we-do__item:nth-child(2) .body-what-we-do__img {
  aspect-ratio: 336/465;
}
@media (max-width: 768.98px) {
  .body-what-we-do__item:nth-child(2) .body-what-we-do__img {
    aspect-ratio: 370/552;
  }
}
.body-what-we-do__item:nth-child(3) {
  -webkit-transform: translate(0, 80px);
      -ms-transform: translate(0, 80px);
          transform: translate(0, 80px);
}
.body-what-we-do__image {
  display: block;
  overflow: hidden;
  border-radius: 5px;
}
.body-what-we-do__image:not(:last-child) {
  margin-bottom: 25px;
}
.body-what-we-do__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 370/552;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .body-what-we-do__img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.body-what-we-do__text {
  font-size: 20px;
  line-height: 1.8; /* 36px */
}