@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Inter";
  font-size: 1.125rem;
  color: #7d7d7d;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6b78e5;
  color: #fff;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 1.22; /* 22/18 */
  text-transform: capitalize;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 78.125em) {
  .button {
    padding-top: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-top: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem )) {
    .button {
      padding-top: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem )) {
    .button {
      padding-top: calc(0.625rem + 0.75 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-top: 0.625rem;
  }
}
@media (min-width: 78.125em) {
  .button {
    padding-bottom: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem )) {
    .button {
      padding-bottom: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.3669354839rem  +  1.2903225806vw , 1.375rem )) {
    .button {
      padding-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-bottom: 0.625rem;
  }
}
@media (min-width: 78.125em) {
  .button {
    padding-left: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-left: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem )) {
    .button {
      padding-left: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem )) {
    .button {
      padding-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 78.125em) {
  .button {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (padding-right: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem )) {
    .button {
      padding-right: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.5073924731rem  +  2.1505376344vw , 2.1875rem )) {
    .button {
      padding-right: calc(0.9375rem + 1.25 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 78.125em) {
  .button {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (font-size: clamp( 1rem , 0.9569892473rem  +  0.2150537634vw , 1.125rem )) {
    .button {
      font-size: clamp( 1rem , 0.9569892473rem  +  0.2150537634vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9569892473rem  +  0.2150537634vw , 1.125rem )) {
    .button {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #40ddb6;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}
.header__top {
  background-color: #37393f;
  min-height: 3.75rem;
  padding-top: 1.1875rem;
  padding-bottom: 1.0625rem;
  position: relative;
  z-index: 2;
}
.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .actions-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.actions-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.21; /* 17/14 */
}
@media (min-width: 78.125em) {
  .actions-header__item {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem ))) {
    .actions-header__item {
      -webkit-column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6048387097rem  +  3.2258064516vw , 3.125rem ))) {
    .actions-header__item {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 58.125);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 58.125);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .actions-header__item {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.actions-header__adress, .actions-header__mail, .actions-header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.actions-header__adress::before, .actions-header__mail::before, .actions-header__time::before {
  font-size: 1rem;
  color: #40ddb6;
}
.actions-header__adress {
  gap: 0.5625rem;
}
.actions-header__mail {
  gap: 0.6875rem;
}
.actions-header__time {
  gap: 0.3125rem;
}
.social-actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media (any-hover: hover) {
  .social-actions-header__item:hover::before {
    color: #40ddb6;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.social-actions-header__item::before {
  font-size: 1.0625rem;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-header__container {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 78.125em) {
  .main-header__container {
    min-height: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (min-height: clamp( 3.75rem , 2.2446236559rem  +  7.5268817204vw , 8.125rem )) {
    .main-header__container {
      min-height: clamp( 3.75rem , 2.2446236559rem  +  7.5268817204vw , 8.125rem );
    }
  }
  @supports not (min-height: clamp( 3.75rem , 2.2446236559rem  +  7.5268817204vw , 8.125rem )) {
    .main-header__container {
      min-height: calc(3.75rem + 4.375 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .main-header__container {
    min-height: 3.75rem;
  }
}
@media (min-width: 78.125em) {
  .main-header__container {
    gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 78.125em) {
  @supports (gap: clamp( 1.25rem , -3.5557321138rem  +  7.7513371057vw , 2.5rem )) {
    .main-header__container {
      gap: clamp( 1.25rem , -3.5557321138rem  +  7.7513371057vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -3.5557321138rem  +  7.7513371057vw , 2.5rem )) {
    .main-header__container {
      gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem) / 16.12625);
    }
  }
}
@media (max-width: 61.99875em) {
  .main-header__container {
    gap: 1.25rem;
  }
}
.main-header__logo {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.main-header__logo img {
  aspect-ratio: 200/65;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header__button {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #fff;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #fff;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 0.3125rem;
}
@media (min-width: 78.125em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 78.125em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -5.0696651422rem  +  9.6891713821vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 16.12625);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 16.12625);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 16.12625);
    }
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.25rem;
  }
}
.menu__link {
  color: #37393f;
  line-height: 1.22; /* 22/18 */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.75rem;
  }
  .menu__link:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #6b78e5;
    text-decoration: underline;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    width: 1.875rem;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.25rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #37393f;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}