@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Causten";
  font-size: 1.125rem;
  color: #3c4242;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
@media (min-width: 79.375em) {
  .header__container {
    min-height: 6.75rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  @supports (min-height: clamp( 3.125rem , -9.8090604992rem  +  20.861808503vw , 6.75rem )) {
    .header__container {
      min-height: clamp( 3.125rem , -9.8090604992rem  +  20.861808503vw , 6.75rem );
    }
  }
  @supports not (min-height: clamp( 3.125rem , -9.8090604992rem  +  20.861808503vw , 6.75rem )) {
    .header__container {
      min-height: calc(3.125rem + 3.625 * (100vw - 61.99875rem) / 17.37625);
    }
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    min-height: 3.125rem;
  }
}
@media (min-width: 79.375em) {
  .header__container {
    -webkit-column-gap: 4.75rem;
       -moz-column-gap: 4.75rem;
            column-gap: 4.75rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem )) or (column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem );
         -moz-column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem );
              column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem )) or (column-gap: clamp( 0.9375rem , -12.6655636285rem  +  21.9408675635vw , 4.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(0.9375rem + 3.8125 * (100vw - 61.99875rem) / 17.37625);
         -moz-column-gap: calc(0.9375rem + 3.8125 * (100vw - 61.99875rem) / 17.37625);
              column-gap: calc(0.9375rem + 3.8125 * (100vw - 61.99875rem) / 17.37625);
    }
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  max-width: 100%;
}
.header__logo img {
  width: 100%;
  height: 100%;
  aspect-ratio: 93/45;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 991.98px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #f6f6f6;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.125rem;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #f6f6f6;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
}
@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    row-gap: 0.3125rem;
  }
}
@media (min-width: 991.98px) and (min-width: 79.375em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (min-width: 991.98px) and (min-width: 61.99875em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -4.6375260773rem  +  8.9921588375vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 17.37625);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 17.37625);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 61.99875rem) / 17.37625);
    }
  }
}
@media (min-width: 991.98px) and (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.25rem;
  }
}
.menu__link {
  display: inline-block;
  color: #807d7e;
  font-weight: 500;
  line-height: 1.18; /* 26/22 */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 79.375em) {
  .menu__link {
    font-size: 1.375rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 1.125rem , 0.2329958276rem  +  1.438745414vw , 1.375rem )) {
    .menu__link {
      font-size: clamp( 1.125rem , 0.2329958276rem  +  1.438745414vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.2329958276rem  +  1.438745414vw , 1.375rem )) {
    .menu__link {
      font-size: calc(1.125rem + 0.25 * (100vw - 61.99875rem) / 17.37625);
    }
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 1.125rem;
  }
}
.menu__link--active {
  color: #3c4242;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 1.75rem;
  }
  .menu__link:not(:last-child) {
    padding-bottom: 0.625rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
    color: #3c4242;
  }
}

.search-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21.532258%;
          flex: 0 0 21.532258%; /* 267/1240 */
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .search-header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.search-header._active .search-header__form {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.search-header__form {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-header__form::before {
  content: "";
  background: url(../img/header/search.svg) 0 0 no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.875rem;
  top: 0.75rem;
}
@media (max-width: 991.98px) {
  .search-header__form {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
  }
}
.search-header__button {
  position: relative;
  z-index: 5;
  width: 1.25rem;
  height: 1.25rem;
}
@media (min-width: 991.98px) {
  .search-header__button {
    display: none;
  }
}
.search-header__input {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  color: #807d7e;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.18; /* 19/16 */
  height: 2.75rem;
  padding-right: 1.25rem;
  padding-left: 2.75rem;
}

.actions-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.580645%;
          flex: 0 0 12.580645%; /* 156/1240 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  position: relative;
  z-index: 5;
}
.actions-header__item {
  border-radius: 0.5rem;
  background-color: #f6f6f6;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 79.375em) {
  .actions-header__item {
    padding: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .actions-header__item {
      padding: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem );
    }
  }
  @supports not (padding: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .actions-header__item {
      padding: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .actions-header__item {
    padding: 0.3125rem;
  }
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    background-color: #3c4242;
  }
}
@media (min-width: 79.375em) {
  .actions-header__item img {
    width: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (width: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem )) {
    .actions-header__item img {
      width: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem );
    }
  }
  @supports not (width: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem )) {
    .actions-header__item img {
      width: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .actions-header__item img {
    width: 0.9375rem;
  }
}
@media (min-width: 79.375em) {
  .actions-header__item img {
    height: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (height: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem )) {
    .actions-header__item img {
      height: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem );
    }
  }
  @supports not (height: clamp( 0.9375rem , 0.8322368421rem  +  0.5263157895vw , 1.25rem )) {
    .actions-header__item img {
      height: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .actions-header__item img {
    height: 0.9375rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    width: 1.875rem;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.875rem;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -0.0625rem;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -0.0625rem;
  }
}