/* Підключення вручну */
@font-face {
	font-family: "Berndal";
	src:
		url("../fonts/BerndalLTStd-Regular.woff2") format("woff2"),
		url("../fonts/BerndalLTStd-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Berndal";
	src:
		url("../fonts/BerndalLTStd-Bold.woff2") format("woff2"),
		url("../fonts/BerndalLTStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Beauty Valentinos Regular";
	src:
		url("../fonts/BeautyValentinos.woff2") format("woff2"),
		url("../fonts/BeautyValentinos.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
