@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функції
@import "_functions.scss";
//========================================================================================================================================================
$greenColor: #40ddb6;
$blueColor: #6b78e5;
$darkGreyColor: #37393f;
$lightGrayColor: #7d7d7d;
$whiteGrayColor: #f4f4f4;
$whiteColor: #fff;
//========================================================================================================================================================
body {
	font-family: "Inter";
	font-size: toRem(18);
	color: $lightGrayColor;
	.menu-open & {
		overflow: hidden;
	}
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}
[class*="__container"] {
	max-width: #{$containerWidth}px;
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}
//========================================================================================================================================================
.button {
	display: inline-flex;
	@include adaptiveValue("padding-top", 22, 8);
	@include adaptiveValue("padding-bottom", 22, 8);
	@include adaptiveValue("padding-left", 35, 10);
	@include adaptiveValue("padding-right", 35, 10);
	@include adaptiveValue("font-size", 18, 16);
	justify-content: center;
	align-items: center;
	background-color: $blueColor;
	color: $whiteColor;
	text-align: center;
	font-family: "Cabin";
	font-weight: 600;
	line-height: 1.22; /* 22/18 */
	text-transform: capitalize;
	transition: background-color 0.3s;
	&--green {
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $greenColor;
		}
	}
}

.label {
	color: $darkGreyColor;
	font-weight: 500;
	line-height: 1.22; /* 22/18 */
	display: flex;
	align-items: center;
	gap: toRem(6);
	&::before {
		content: "";
		width: toRem(12);
		height: toRem(12);
		background-color: $greenColor;
	}
}
.title {
	color: $darkGreyColor;
	font-family: "Poppins";
	font-weight: 700;
}
.text {
	color: $lightGrayColor;
	line-height: 1.46;
	&:not(:last-child) {
		p {
			margin-bottom: toRem(15);
		}
	}
}

//========================================================================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: $whiteColor;
	// .header__top
	&__top {
		background-color: #37393f;
		min-height: toRem(60);
		padding-top: toRem(19);
		padding-bottom: toRem(17);
		position: relative;
		z-index: 2;
	}
	// .header__main
	&__main {
	}
}
.top-header {
	// .top-header__container
	&__container {
	}
	// .top-header__actions
	&__actions {
	}
}
.actions-header {
	display: flex;
	column-gap: toRem(30);
	row-gap: toRem(15);
	align-items: center;
	justify-content: space-between;
	@media (max-width: toEm(570.98)) {
		flex-wrap: wrap;
		flex-direction: column;
	}
	// .actions-header__item
	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 50, 20);
		row-gap: toRem(10);
		color: $whiteColor;
		font-size: toRem(14);
		line-height: 1.21; /* 17/14 */
		@media (max-width: toEm(570.98)) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	&__adress,
	&__mail,
	&__time {
		display: flex;
		align-items: center;
		&::before {
			font-size: toRem(16);
			color: $greenColor;
		}
	}
	// .actions-header__adress
	&__adress {
		gap: toRem(9);
	}
	// .actions-header__mail
	&__mail {
		gap: toRem(11);
	}
	// .actions-header__time
	&__time {
		gap: toRem(5);
	}
	// .actions-header__social
	&__social {
	}
}
.social-actions-header {
	display: flex;
	align-items: center;
	gap: toRem(16);
	// .social-actions-header__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $greenColor;
					transform: scale(1.2);
				}
			}
		}
		&::before {
			font-size: toRem(17);
			color: $whiteColor;
			transition: all 0.3s;
		}
	}
}
.main-header {
	// .main-header__container
	&__container {
		padding-top: toRem(5);
		padding-bottom: toRem(5);
		display: flex;
		align-items: center;
		@include adaptiveValue("min-height", 130, 60);
		@include adaptiveValue("gap", 40, 20, 0, $containerWidth, 991.98);
	}
	// .main-header__logo
	&__logo {
		position: relative;
		z-index: 2;
		max-width: 100%;
		@media (max-width: toEm(445.98)) {
			display: none;
		}
	}
	&__mobile-logo {
		display: none;
		@media (max-width: toEm(445.98)) {
			position: relative;
			z-index: 2;
			display: block;
		}
	}
	// .main-header__menu
	&__menu {
	}
	// .main-header__button
	&__button {
		position: relative;
		z-index: 2;
		//щоб кнопка не складалась
		flex: 0 0 auto;
	}
	// .main-header__icon
	&__icon {
	}
}
.menu {
	flex: 1 1 auto;
	// .menu__body
	&__body {
		@media (max-width: toEm(991.98)) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			transition: left 0.3s;
			padding: toRem(100) toRem(15) toRem(30) toRem(15);
			background-color: $whiteColor;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(60);
				top: 0;
				left: -100%;
				z-index: 2;
				transition: left 0.3s;
				background-color: $whiteColor;
			}
			.menu-open &,
			.menu-open &::before {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		@include adaptiveValue("column-gap", 40, 15, 0, $containerWidth, 991.98);
		row-gap: toRem(5);
		@media (max-width: toEm(991.98)) {
			flex-direction: column;
			text-align: center;
			row-gap: toRem(20);
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		color: $darkGreyColor;
		line-height: 1.22; /* 22/18 */
		transition: all 0.3s;
		@media (max-width: toEm(991.98)) {
			font-size: toRem(28);
			&:not(:last-child) {
				padding-bottom: toRem(10);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $blueColor;
				text-decoration: underline;
			}
		}
	}
}
._icon-arrow-menu {
}
.button {
}
.icon-menu {
	display: none;
	@media (max-width: toEm(991.98)) {
		width: toRem(25);
		display: block;
		flex: 0 0 toRem(25);
		height: toRem(20);
		position: relative;
		z-index: 5;
		&::before,
		&::after,
		span {
			content: "";
			height: toRem(2);
			width: 100%;
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: $darkGreyColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			margin-top: toRem(-1);
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
//========================================================================================================================================================
.hero {
	position: relative;
	$marginTop: clamp(toRem(60), 17.8958vw, toRem(190));
	margin-top: $marginTop;
	display: flex;
	align-items: center;

	// .hero__container
	&__wrapper {
		@include adaptiveValue("padding-top", 205, 50);
		@include adaptiveValue("padding-bottom", 205, 50);
		@include adaptiveValue("padding-left", 117, 15);
		@include adaptiveValue("padding-right", 200, 15);
		min-height: calc(100svh - $marginTop);
		flex: 0 1 auto;
		background-color: rgba(55, 57, 63, 0.91);
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
	}
	&__body {
		position: relative;
		z-index: 3;
		max-width: toRem(510);
	}
	// .hero__label
	&__label {
		color: $whiteColor;
		font-weight: 600;
		line-height: 1.46; /* 26.314px */
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .hero__title
	&__title {
		color: $whiteColor;
		@include adaptiveValue("font-size", 60, 40);
		line-height: 1.1; /* 66px */
		span {
			color: $greenColor;
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .hero__image-bg
	&__image-bg {
		max-width: 100%;
		padding-bottom: 42.447917%; /* 815/1920 */
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
		}
	}
	// .hero__text
	&__text {
		color: $darkGreyColor;
		font-weight: 500;
		line-height: 1.46; /* 26.314px */
	}
	// .hero__wrapper-button
	&__wrapper-button {
	}
	// .hero__button
	&__button {
	}
	// .hero__link
	&__link {
	}
}
